[project]
name = "numcodecs-guardrails"
version = "0.0.1"
description = "Fearless lossy compression using guardrails"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numcodecs~=0.13",
    "numpy~=2.2",
    "varint~=1.0",
]

[dependency-groups]
dev = [
    "ruff~=0.8",
]
test = [
    "pytest~=8.3",
]
fuzz = [
    "atheris~=2.3",
]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
