[project]
name = "numcodecs-guardrail"
version = "0.0.1"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numcodecs~=0.13",
    "numpy~=2.2",
    "varint~=1.0",
]

[dependency-groups]
dev = [
    "ruff~=0.8",
]
test = [
    "pytest~=8.3",
]
fuzz = [
    "atheris~=2.3",
]
