[project]
name = "numcodecs-safeguards"
version = "0.0.1"
description = "Fearless lossy compression using safeguards"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numcodecs>=0.13.0,<0.16",
    "numcodecs-combinators~=0.2.3",
    "numpy~=2.0",
    "varint~=1.0",
    "typing-extensions~=4.6",
]

[dependency-groups]
dev = ["ruff~=0.9"]
test = ["pytest~=8.3"]
typing = ["mypy~=1.14"]
fuzz = ["atheris~=2.3"]

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"climatebenchpress.compressor" = ["py.typed"]

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]

[[tool.mypy.overrides]]
module = ["numcodecs.*", "varint.*"]
follow_untyped_imports = true
