name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Check with ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: check

  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Check with ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --diff --check"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install

      - name: Install numcodecs-guardrail
        run: uv sync --group test && uv pip install .

      - name: Run tests
        run: uv run pytest

  fuzz:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install 3.11

      - name: Install numcodecs-guardrail
        run: uv sync --group fuzz && uv pip install .

      - name: Run the fuzzer
        run: python3 tests/fuzz.py -max_total_time=60
