name: Docs

on:
  push:
    branches:
      - main

jobs:
  release:
    name: GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install

      - name: Setup the Python venv with the safeguards
        run: uv sync --all-packages

      - name: Install mkdocs dependencies
        run: uv pip install -r docs/requirements.txt

      # https://github.com/mkdocstrings/python/issues/167
      - name: Reduce docs duplication
        run: sed -i 's/__all__ = \["Safeguards", "SafeguardKind"\]/__all__ = \[\]/g' src/compression_safeguards/__init__.py

      - name: Build the documentation
        run: uv run mkdocs build

      - name: Deploy the Documentation
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site
          keep_files: false
