name: Docs

on:
  push:
    branches:
      - main

jobs:
  release:
    name: GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install

      - name: Install mkdocs dependencies
        run: uv venv && uv pip install -r docs/requirements.txt

      - name: Install numcodecs-safeguards
        run: uv pip install .

      - name: Build the documentation
        run: uv run mkdocs build

      - name: Deploy the Documentation
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site
          keep_files: false
