name: Publish

on:
  release:
    branch: main
    types: [released]

jobs:
  publish:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Replace symlinks with file copies
        run: find ./ -type l -exec sh -c 'for i in "$@"; do cp --preserve --remove-destination "$(readlink -f "$i")" "$i"; done' sh {} +

      - name: Build all packages
        run: uv build --all-packages

      - name: List the built dist files
        run: ls -lh dist/

      - name: Publish the packages
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
